<main class="container">
  <div class="card">
    <h2 class="title text-primary">About the universe - Kit UI</h2>
    <a
      href="https://www.linkedin.com/in/christopher-blassiaux-802891198/"
      class="link"
    >Chris Blassiaux</a
    >
    <p>
      Cette documentation est un Kit UI (Atomic Design) qui regroupe tous
      les Atomes, Molecules et Organisms disponibles pour le Front de
      l'application About The Universe.
    </p>
    <h3 class="subtitle mt-5">Sources :</h3>
    <p>
      Article de <span class="bold">Audray Hacq</span> :
      <a
        href="https://medium.com/@audreyhacq/l-atomic-design-une-m%C3%A9thode-de-co-creation-prometteuse-bd9d5fc2b2ad"
        target="_blank"
        class="link"
      >L'Atomic Design, une methode de co-création prometteuse</a
      >
    </p>
  </div>
</main>
