<main class="container">
  <div class="card card-1">
    <h1 class="title text-secondary">About the universe</h1>

    <p>
      Bienvenue sur <span class="text-secondary">ABOUT THE UNIVERSE </span> pour découvrir toutes nos découvertes à propos du monde qui nous entoure !
    </p>

    <a class="btn mt-4" href="people">
      Découvrir
    </a>

  </div>

  <div class="card card-2">
    <h2 class="title text-secondary"> Les chiffres</h2>

    <p>
      Nous nous efforcons à archiver toutes nos trouvailles pour vous les partager autant que possible !
    </p>

    <div class="d-grid-2 mt-5 mb-5 w-100">

      <div class="d-grid-2 mt-5 mb-5 w-100">
        <div class="information">
          <span class="fas fa-users fa-3x img text-secondary"></span>
          <div class="ml-3">
            <div class="bold text-secondary">
              Nombre d'êtres vivants recensés
            </div>
            <div class="info">
              {{ People.count }}
            </div>
          </div>
        </div>

        <div class="information">
          <span class="fas fa-space-shuttle fa-3x img text-secondary"></span>
          <div class="ml-3">
            <div class="bold text-secondary">
              Nombre de véhicules recensés
            </div>
            <div class="info">
              {{ Starships }}
            </div>
          </div>
        </div>
      </div>

      <div class="d-grid-2 mt-5 mb-5 w-100">
        <div class="information">
          <span class="fas fa-globle fa-3x img text-secondary"></span>
          <div class="ml-3">
            <div class="bold text-secondary">
              Nombre de planètes recensées
            </div>
            <div class="info">
              {{ Planets }}
            </div>
          </div>
        </div>

        <div class="information">
          <span class="fas fa-clock fa-3x img text-secondary"></span>
          <div class="ml-3">
            <div class="bold text-secondary">
              Prochaine mission
            </div>
            <div class="info mt-4">
              10 Juin 2021
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <a class="btn mt-4 float-right" href="rocket">
        Participer à la prochaine mission
      </a>
    </div>
  </div>
</main>
