<div class="navbar-height"></div>
<div class="navbar">
  <div class="contain-burger">
    <div class="burger"></div>
  </div>
  <nav class="nav">
    <a href="#">
      <img src="assets/logotype.png" alt="Logotype" />
    </a>
    <a href="#" class="navbar-link active">Accueil</a>
    <a href="kit-ui" class="navbar-link">Kit UI</a>
  </nav>
</div>
<nav class="vertical-navbar">
  <a href="index-show-planets" class="nav-vertical-link">
    <span class="fas fa-globe fa-3x"></span>
    <p>Planètes</p>
  </a>
  <a href="#" class="nav-vertical-link">
    <span class="fas fa-rocket fa-3x"></span>
    <p>Véhicules</p>
  </a>
  <a href="#" class="nav-vertical-link">
    <span class="fab fa-reddit-alien fa-3x"></span>
    <p>Personnes</p>
  </a>
</nav>
