<main class="container container-1-2">
    <div class="card card-1 sticky flex tal">
        <div class="card-header">
            <h2 class="title text-primary">
                Planètes
            </h2>

            <div class="form-group">
                <select name="sort" class="select pr-5">
                    <option>Par population</option>
                    <option value="0">0 à 100.000</option>
                    <option value="1">0 à 100.000.000</option>
                    <option value="2">+ de 100.000.000</option>
                </select>
            </div>

            <div class="form-group">
                
            </div>
        </div>
    </div>
</main>
