<div class="contain-alert">
  <div class="alert alert-info">
    Oh snap! Change a few things up and try submitting again.
    <span class="icon">&times;</span>
  </div>
</div>
<main class="container container-1-1">
  <div>
    <div class="card">
      <h2 class="title text-primary">Buttons</h2>
      <a href="#" class="btn btn-primary">Primary - Info</a>
      <a href="#" class="btn btn-secondary">Secondary - Success</a>
      <a href="#" class="btn btn-warning">Warning</a>
      <a href="#" class="btn btn-danger">Danger</a>
    </div>
    <div class="card">
      <h2 class="title text-primary">Indicators</h2>
      <h3 class="subtitle">Badges</h3>
      <span class="badge badge-primary">Primary - Info</span>
      <span class="badge badge-secondary">Secondary - Success</span>
      <span class="badge badge-warning">Warning</span>
      <span class="badge badge-danger">Danger</span>
      <h3 class="subtitle mt-5">Alerts</h3>
      <div class="alert alert-info">
        Oh snap! Change a few things up and try submitting again.
        <span class="icon">&times;</span>
      </div>
      <div class="alert alert-success">
        Oh snap! Change a few things up and try submitting again.
        <span class="icon">&times;</span>
      </div>
      <div class="alert alert-warning">
        Oh snap! Change a few things up and try submitting again.
        <span class="icon">&times;</span>
      </div>
      <div class="alert alert-danger">
        Oh snap! Change a few things up and try submitting again.
        <span class="icon">&times;</span>
      </div>
    </div>
  </div>
  <div>
    <div class="card">
      <h2 class="title text-primary">Forms</h2>

      <h3 class="subtitle">Selects</h3>
      <select class="select pr-5">
        <option value="">Par planète</option>
        <option value="test">Planète 1</option>
        <option value="test">Planète 2</option>
        <option value="test">Planète 3</option>
        <option value="test">Planète 4</option>
      </select>

      <h3 class="subtitle mt-5">Inputs</h3>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Entrez votre email">
      </div>

      <div class="form-group-1-1">
        <div class="form-group">
          <label for="first_name">Prénom</label>
          <input type="text" class="form-control" id="first_name" placeholder="Entrez votre prénom">
        </div>
        <div class="form-group">
          <label for="last_name">Nom</label>
          <input type="text" class="form-control" id="last_name" placeholder="Entrez votre nom">
        </div>
      </div>

      <div class="form-group-2-1">
        <div class="form-group">
          <input type="first_name" class="form-control" id="first_name" placeholder="Numéro de téléphone">
        </div>
        <div class="icon">
          <span class="fas fa-phone fa-2x"></span>
        </div>
      </div>

      <h3 class="subtitle mt-5">Checkbox</h3>
      <span class="badge badge-primary">
            <input type="checkbox" name="checkbox" id="1" />
            <label for="1">Primary</label>
          </span>
      <span class="badge badge-secondary">
            <input type="checkbox" name="checkbox" id="2" />
            <label for="2">Secondary</label>
          </span>
      <span class="badge badge-warning">
            <input type="checkbox" name="checkbox" id="3" />
            <label for="3">Warning</label>
          </span>
      <span class="badge badge-danger">
            <input type="checkbox" name="checkbox" id="4" />
            <label for="4">Danger</label>
          </span>

      <h3 class="subtitle mt-5">Search Bar</h3>
      <div class="form-group form-group-search">
        <input type="text" class="form-control searchbar" id="searchbar" placeholder="Faites votre recherche">
        <span class="fas fa-search icon"></span>
      </div>

      <div class="form-group checkbox">
        <input type="checkbox" name="checkbox" id="5" />
        <label for="5" class="mb-0"><span class="bold">Lier une issue</span> (lors de la confirmation)</label>
      </div>
    </div>
    <div class="card">
      <h2 class="title">Typography</h2>
      <h2 class="title text-primary">Title primary</h2>
      <h2 class="subtitle">Title primary</h2>
      <h2 class="subtitle text-primary">Title primary</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, nesciunt.</p>
      <p>Lorem ipsum dolor <span class="bold">sit amet consectetur</span>.</p>
      <p>Lorem ipsum dolor <span class="mark">sit amet consectetur</span>.</p>
      <p class="info">Lorem ipsum dolor sit amet consectetur.</p>
      <a href="#" class="link">Lorem ipsum dolor amet consectetur.</a>
    </div>
  </div>
</main>
